<div style="width: 100%;">
    <div
        style="background-color: rgba(0, 0, 0, 0.2); color: white; font-weight: bold; width: 50%; padding: 20px; text-align: center; margin-left: auto; margin-right: auto;margin-top: 10%;">
        <mat-card class="mat-elevation-z8">
            <mat-card-title style="font-size: xx-large;">Welcome</mat-card-title>
            <hr>
            <mat-card-actions style="text-align: center;">
                <button mat-raised-button color="primary" [routerLink]="['/create-entry']" style="margin: 10px;">Create
                    Page</button>
                <button mat-raised-button color="primary" [routerLink]="['/user-activity']" style="margin: 10px;">View
                    User Activity</button>
                <button mat-raised-button color="primary" [routerLink]="['/admin-management']" style="margin: 10px;">
                    Admin Management</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>